{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .thumbnail {
            width: 200px;
            height: auto;
            float: left;
            margin-right: 10px;
        }
    </style>
    <title>Арт-Гид Екатеринбурга</title>    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js"
        charset="utf-8"></script>
        <link rel="stylesheet" href="{% static 'art_map/css/style.css' %}" type="text/css">
    </head>

<body>
    <header>
        <table>
            <img class="thumbnail" src="{% static 'art_map/img/logo.png' %}">
            <tr>
                <td><a href="">Карта</a></td>
                <td><a href="{% url 'routes' %}">Описание марштрутов</a></td>
                <td><a href="{% url 'about' %}">О карте</a></td>
            </tr>
        </table>
    </header>

    <div id="map">
        <script>
        var MyMarker = L.marker([56.83131533101713, 60.5990688927789]).getLatLng()
        var mymap = L.map("map").setView([56.8469, 60.6071], 12);
        var redIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
          });
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        }).addTo(mymap);

        addMark([56.83131533101713, 60.5990688927789], "Стена ангелов", "{% static 'art_map/img/angels.jpg' %}", "Художники из Ростова-на-Дону нарисовали стену с ангелами по мотивам Донателло 'Танцующие ангелочки'. Причем этот дом должны были снести, но из-за интереса общества к рисунку сносить дом передумали. Ростовские художники таким способом спасают здания от сноса в разных городах России.","");
        addMark([56.83349679252363, 60.591937560588086], "Гагарин", "{% static 'art_map/img/gagarin.jpg' %}", "В 2014 году харьковский художник Андрей Пальваль в рамках «Стенограффии» нарисовал портрет Юрия Гагарина. На тот момент он уже имел опыт работы в Екатеринбурге, город был ему знаком. Он прислал эскиз на фестиваль с призывом: «Хочу нарисовать Гагарина с белой “птицей мира” в руках».", "");
        addMark([56.83453546018423, 60.589129047939565], "Сизифов труд", "{% static 'art_map/img/sizif.jpg' %}", "«Сизифов труд» создан командой «INTERESNI KAZKI» на «Стенограффии» в 2011 году. Это одна из немногих работ киевской команды в России, которая стала одним из топовых и самых известных арт-объектов в Екатеринбурге.","");
        addMark([56.834724882333404, 60.590500731211854], "Енот", "{% static 'art_map/img/enot.jpg' %}", "По просьбе жителей художник команды «Стенограффии» Александр Галешников разрисовал подъездную дверь, которую назвали самым милым объектом в Екатеринбурге.","");
        addMark([56.83487652378257, 60.59117695315197], "We Are Not Alone", "{% static 'art_map/img/alone.jpg' %}", "Еще одно крупноформатное граффити только уже под авторством британского художника. Он нарисовал космическую гонку 60-х в виде воздушных шаров: космонавта, стилизованного под советскую игрушку, а рядом с ним – инопланетянина и воздушный шарик. Забавно, что воздушные шары привязаны к внешнему блоку кондиционера.","");
        addMark([56.83526189452204, 60.59518251835229], "Пьяный цветок", "{% static 'art_map/img/flower.jpg' %}", "На главной пешеходной улице Вайнера я встретил только один рисунок с цветком. По замыслу автора этот цветок находится в подвыпившем состоянии.","");
        addMark([56.83475260151288, 60.59840593760807], "Музыкальный забор", "{% static 'art_map/img/music.jpg' %}", "Музыкальный забор, который играет произведения гениального Сергея Рахманинова.","");
        addMark([56.83405173695242, 60.600559649467776], "Радиола", "{% static 'art_map/img/radio.jpg' %}", "В 2015 году старый друг «Стенограффи» – Иван Ягода из новосибирской команды «ТАКНАДО» – реализовал интересный проект, решающий задачу: уменьшить в городском пространстве число мест для спам-объявлений","");
        addMark([56.83332736199153, 60.60099668446518], "Ни Европа ни Азия", "{% static 'art_map/img/evraz.jpg' %}", "Вдали на дверях гаража большой двуязычный текст про дворы из детства. А сверху рисунок из джунглей с попугаями.","");
        addMark([56.8401075756306, 60.59946114647233], "Любовь", "{% static 'art_map/img/love.jpg' %}", "Пример крупноформатного граффити на весь дом. Это работа испанского художника под названием 'Любовь'. И сюжет рисунка про терпимость к однополой любви.", "");
        addMark([56.83823843866485, 60.604430734749045], "Туннель Цоя", "{% static 'art_map/img/tsoi.jpg' %}", "Туннель, который посвятили рок-музыканту Цою. В рисунках показаны портреты Цоя, известные треки и цитаты. Рядом с Плотинкой часто собираются уличные музыканты и поют песни Цоя", "");
        addMark([56.83390907431536, 60.6067246143962], "Битлз", "{% static 'art_map/img/bitles.jpg' %}", "У реки Исеть граффити, посвящённое группе Битлз","");
        addMark([56.834777574781455, 60.609595819872425], "Гоголь на Гоголя", "{% static 'art_map/img/gogol.jpg' %}", "Вот один из отличных примеров того, как бизнес общается со своей аудиторией на ее языке, будто заявляя «Эй, мы здесь, заходи!». Гоголь с кружкой кофе в модно повязанном шарфе – реклама «для своих».","");
        addMark([56.838096561108955, 60.61018313609087], "Арка Покраса Лампаса", "{% static 'art_map/img/pl_arc.jpg' %}", "Творчество Покраса Лампаса преследует меня во всех городах. Сначала в Москве на Hyundai Motor Studio, затем на набережной в Самаре и Красной Поляне в Сочи. Теперь увидел его творчество в Екатеринбурге под названием «Арка Покраса Лампаса».", "");
        addMark([56.83823684890332, 60.610811888898354], "Бумажный самолет", "{% static 'art_map/img/paper_plane.jpg' %}", "Бумажный самолет – самая масштабная работа, которая видна со смотровой площадки небоскреба 'Высоцкий'. Это труд двух художников из Германии. По задумке художников самолетик связывает Европу и Азию. Запустив самолетик со здания кинотеатра в Екатеринбурге –приземляется самолет на здание девятиэтажки в Магнитогорске. Соответсвенно в Магнитогорске такой же рисунок.", "");
        addMark([56.83848377958795, 60.610634070580346], "Птички", "{% static 'art_map/img/birds.jpg' %}", "Еще в 2013 году на трансформаторную будку у клуба «Lynch» художник Тимофей Ерин из Ростова-на-Дону, больше известный под ником «Художник» со своей командой посадили пять стилизованных птичек. Птицы – «фирменный элемент» Тимофея. Он рисует их в разных стилистиках, техниках и масштабах.", "");
        addMark([56.83934240262549, 60.61050285377857], "Жар-птица", "{% static 'art_map/img/hot_bird.jpg' %}", "Когда город ложится спать, и закрываются все магазины, то просыпается стрит-арт искусство. Неплохой пример с жар-птицей на улице Малышева у Дома Севастьянова. Птица появляется с закрытием распечати", "");
        addMark([56.8370603293328, 60.6161350240225], "Портрет Микеланджело", "{% static 'art_map/img/micki.jpg' %}", "Если сумеете оторвать взгляд от небоскреба и посмотреть на объекты вокруг, то заметите небольшое граффити с портретом Микеланджело","");
        addMark([56.840310, 60.614087], "Стрелы", "{% static 'art_map/img/arrows.jpg' %}", "Во дворе типографии можно увидеть еще один проект. Это совместная работа художников из Санкт-Петербурга и Нижнего Новгорода – своеобразная импровизация, созданная в 2015 году в рамках «Стенограффии». Сочетание новой стилистики Никиты Nomerz, давно известного Екатеринбургу своим «добряком» (его с вами мы увидим во второй части нашего маршрута), и нового для города художника Стаса Bags’a, превратилось в целую сюжетную картину, на которой мускулистый юноша запускает стрелы в уставшего быка. Стоит отметить, что художники познакомились лично друг с другом менее чем за сутки до старта работы.", "");
        addMark([56.84015177487858, 60.61433028027085], "Уральский Рабочий", "{% static 'art_map/img/work_man.jpg' %}", "Замысел автора был таков – по нужным книгам можно прийти к свету. Мы видим книги, сложенные в форме лестницы, ведущие к нему. Изначально эскиз был разработан на всю стену до крыши здания, но без финансирования художник, по его словам, «работу сделал до той высоты, до которой смог достать».","");
        addMark([56.844662857908915, 60.61370922497546], "Овременение", "{% static 'art_map/img/time.jpg' %}", "Мы видим людей, у которых вся жизнь проходит в цикле: 'дом-работа-дом'.", "");
        addMark([56.84035781099863, 60.618910674510225], "Голубые глаза", "{% static 'art_map/img/eyes.jpg' %}", "Перемещаемся на проспект Ленина, где в небольшом сквере креативно украсили уличные фонари. Художница живет в центре Екатеринбурга и постоянно проходит мимо этого места. Раньше ее глаз радовали цветущие яблони, но с недавнего времени их не стало. Поэтому она решила наклеить 'зрачки' на белые фонари. Получилось эффектно и правдоподобно. Печально, что с каждым годом 'глаз' остается все меньше.", "");
        addMark([56.84123937009094, 60.62208026012338], "Сушка автомобилей", "{% static 'art_map/img/cars.jpg' %}", "Здесь екатеринбургский художник проводит тонкую грань между прошлым и будущим. Если раньше во дворах сушилось много белья, то теперь из-за проблем с парковками в мегаполисах все дворы заставлены автомобилями.","");
        addMark([56.83163, 60.63184], "Лебединое озеро", "{% static 'art_map/img/balet.jpg' %}", "На стене одного из технических зданий Екатеринбурга автор изобразил телевизор, сквозь помехи на экране которого проглядывается изображение балерин, танцующих «Танец лебедей» из балета Чайковского «Лебединое озеро».", "");

        addMark([56.84442965949219, 60.61626522817855], "Памятник вентилятору или аномально жаркому лету 2012", "{% static 'art_map/img/vent.jpg' %}", "Жаркое лето 2012 вдохновило уральских кузнецов на создание памятника вентилятору. К примеру, 18 июля 2012г стало самым жарким днем за последние 75 лет: температура в этот день составляла +37,1С. Екатеринбург по температурным показателям превзошел известные курорты – Барселону, Паттайю, Анталью. В июле 22 дня прошли без капли осадков.", "red");
        addMark([56.833812937081674, 60.60052622154318], "Большая терка", "{% static 'art_map/img/terka.jpg' %}", "Конструкция весит порядка 150 кг и стала своеобразным рекламным сообщением от уличных художников Екатеринбурга.", "red");
        addMark([56.888147226447835, 60.61652276334375], "Эйфелева башня", "{% static 'art_map/img/elf.jpg' %}", "Уменьшенная копия Эйфелевой башни появилась в скверике около оперного театра на проспекте Ленина.", "red");
        addMark([56.888248, 60.616566], "Памятник Человеку-Невидимке", "{% static 'art_map/img/invise_man.jpg' %}", "Монумент представляет собой плиту размером в один квадратный метр, на которой выгравирована надпись: «Первый в мире памятник Человеку — невидимке, герою новеллы Герберта Уэллса».", "red");
        addMark([56.825845, 60.638918], "Памятник Афоне (сантехнику)", "{% static 'art_map/img/afonya.jpg' %}", "Прямо у ног прохожих, красуется скульптура сантехника, выглядывающего из люка на Сибирском тракте, 2 (и по осени пугающего припозднившихся иногородних студенток, только что нашедших съемное жилье в этом районе).", "red");
        addMark([56.835591, 60.655309], "Памятник Аисту", "{% static 'art_map/img/aist.jpg' %}", "Название «аист» с иврита — «хасида» — дословно переводится как «набожность». В древности верили, что аисты кормят своих престарелых родителей. Предписание заботиться о родителях в Риме именовалось «Законом аиста». В христианстве аист символизировал чистоту, целомудрие, благоразумие, бдительность. По шведской легенде, аист подбадривал истязаемого Христа.", "red");
        addMark([56.83514530434635, 60.59504526661072], "Памятник банковской карте", "{% static 'art_map/img/card.jpg' %}", "Это барельеф в виде руки, которая держит карту. Размеры памятника — порядка два метра в высоту и метр в ширину, вес монумента — около 100 кг. На карте выгравировано имя писателя-фантаста Эдварда Беллами, который в своем романе «Взгляд в прошлое» в 1888 году первым выдвинул идею кредитных карт. У памятника сразу же появилась традиция: «Потри карту и твой кошелек не будет пуст». Памятник первый и, пока единственный, не только в России, но и в мире.", "red");
        addMark([56.854732, 60.660414], "Памятник любопытству", "{% static 'art_map/img/lubo.jpg' %}", "Это первый памятник любопытству в России и третий в мире на эту тему. По мнению автора композиции, это человеческое чувство олицетворяют мужчина и женщина, глядящие друг на друга через дверной глазок. Вся композиция имеет высоту 2,5 метра, и она цельнометаллическая. Это своего рода иллюстрация афоризма Оскара Уайльда: «Знаете ли вы, как велико женское любопытство? Оно почти не уступает мужскому».", "red");
        addMark([56.829815, 60.597167], "Гена Букин", "{% static 'art_map/img/gena.jpg' %}", "Бронзовая скульптура весом 435 кг и высотой 2,2 метра была установлена на улице Вайнера - недалеко от ТРЦ 'Гринвич', где, по сюжету ситкома, работает незадачливый продавец обуви.", "red");
        addMark([56.832424, 60.607558], "Памятник клавиатуре", "{% static 'art_map/img/klava.jpg' %}", "Первый в мире памятник клавиатуре был создан в 2005 году по замыслу художника Анатолия Вяткина в рамках фестиваля «Длинные истории Екатеринбурга». Открытие состоялось 5 октября 2005 года. Новая достопримечательность сразу же полюбилась всем екатеринбуржцам.", "red");

        var coordinates = [
            [56.83131533101713, 60.5990688927789],
            [56.830733, 60.599262],
            [56.830186, 60.593533],
            [56.833319, 60.592345],
            [56.832979, 60.589654],
            [56.83453546018423, 60.589129047939565],
            [56.834724882333404, 60.590500731211854],
            [56.83487652378257, 60.59117695315197],
            [56.83526189452204, 60.59518251835229],
            [56.835948, 60.595106],
            [56.836109, 60.596769],
            [56.83475260151288, 60.59840593760807],
            [56.83405173695242, 60.600559649467776],
            [56.83332736199153, 60.60099668446518],
            [56.8401075756306, 60.59946114647233],
            [56.83823843866485, 60.604430734749045],
            [56.83390907431536, 60.6067246143962],
            [56.834777574781455, 60.609595819872425],
            [56.838096561108955, 60.61018313609087],
            [56.83823684890332, 60.610811888898354],
            [56.83848377958795, 60.610634070580346],
            [56.83934240262549, 60.61050285377857],
            [56.840310, 60.614087],
            [56.84015177487858, 60.61433028027085],
            [56.84035781099863, 60.618910674510225],
            [56.84123937009094, 60.62208026012338]
            ];

            L.polyline(coordinates, { color: 'blue' }).addTo(mymap);
        
        L.control.locate({
        position: "topleft",
        drawCircle: false,
        follow: true,
        setView: true
        }).addTo(mymap);

        function addMark(coordinates,nameMark,pathImg,description,color){
            if (color == "red"){
                L.marker([coordinates[0],coordinates[1]], {icon: redIcon})
                .bindPopup("<b>"+nameMark+"</b>"+"<p><img src='"+pathImg+"' style='height:200px;weight:200px;'><p><br>"+description)
                .bindTooltip(nameMark)
                .openTooltip()
                .addTo(mymap);
            }
            else {
                L.marker([coordinates[0],coordinates[1]])
                .bindPopup("<b>"+nameMark+"</b>"+"<p><img src='"+pathImg+"' style='height:200px;weight:200px;'><p><br>"+description)
                .bindTooltip(nameMark)
                .openTooltip()
                .addTo(mymap);
            }
        }
        </script>
    </div>

</body>

</html>