{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Арт-Гид Екатеринбурга</title>    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js"
        charset="utf-8"></script>
        <link rel="stylesheet" href="{% static 'art_map/css/style.css' %}" type="text/css">
    </head>

<body>
    <header>
        <table>
            <tr>
                <td><a href="">Карта</a></td>
                <td><a href="">Описание марштрутов</a></td>
                <td><a href="{% url 'about' %}">О карте</a></td>
            </tr>
        </table>
    </header>

    <div id="map">
        <script>
        var mymap = L.map("map").setView([56.8469, 60.6071], 12);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        }).addTo(mymap);

        addMark([56.83163, 60.63184], "Лебединое озеро", "{% static 'art_map/img/balet.jpg' %}", "На стене одного из технических зданий Екатеринбурга автор изобразил телевизор, сквозь помехи на экране которого проглядывается изображение балерин, танцующих «Танец лебедей» из балета Чайковского «Лебединое озеро».");
        addMark([56.840310, 60.614087], "Стрелы", "{% static 'art_map/img/arrows.jpg' %}", "Во дворе типографии можно увидеть еще один проект. Это совместная работа художников из Санкт-Петербурга и Нижнего Новгорода – своеобразная импровизация, созданная в 2015 году в рамках «Стенограффии». Сочетание новой стилистики Никиты Nomerz, давно известного Екатеринбургу своим «добряком» (его с вами мы увидим во второй части нашего маршрута), и нового для города художника Стаса Bags’a, превратилось в целую сюжетную картину, на которой мускулистый юноша запускает стрелы в уставшего быка. Стоит отметить, что художники познакомились лично друг с другом менее чем за сутки до старта работы.");
        addMark([56.83349679252363, 60.591937560588086], "Гагарин", "{% static 'art_map/img/gagarin.jpg' %}", "В 2014 году харьковский художник Андрей Пальваль в рамках «Стенограффии» нарисовал портрет Юрия Гагарина. На тот момент он уже имел опыт работы в Екатеринбурге, город был ему знаком. Он прислал эскиз на фестиваль с призывом: «Хочу нарисовать Гагарина с белой “птицей мира” в руках».");
        addMark([56.83848377958795, 60.610634070580346], "Птички", "{% static 'art_map/img/birds.jpg' %}", "Еще в 2013 году на трансформаторную будку у клуба «Lynch» художник Тимофей Ерин из Ростова-на-Дону, больше известный под ником «Художник» со своей командой посадили пять стилизованных птичек. Птицы – «фирменный элемент» Тимофея. Он рисует их в разных стилистиках, техниках и масштабах.");
        addMark([56.83823843866485, 60.604430734749045], "Туннель Цоя", "{% static 'art_map/img/tsoi.jpg' %}", "Туннель, который посвятили рок-музыканту Цою. В рисунках показаны портреты Цоя, известные треки и цитаты. Рядом с Плотинкой часто собираются уличные музыканты и поют песни Цоя");
        addMark([56.83934240262549, 60.61050285377857], "Жар-птица", "{% static 'art_map/img/hot_bird.jpg' %}", "Когда город ложится спать, и закрываются все магазины, то просыпается стрит-арт искусство. Неплохой пример с жар-птицей на улице Малышева у Дома Севастьянова. Птица появляется с закрытием распечати");
        addMark([56.844662857908915, 60.61370922497546], "Овременение", "{% static 'art_map/img/time.jpg' %}", "Мы видим людей, у которых вся жизнь проходит в цикле: 'дом-работа-дом'.");
        addMark([56.8401075756306, 60.59946114647233], "Любовь", "{% static 'art_map/img/love.jpg' %}", "Пример крупноформатного граффити на весь дом. Это работа испанского художника под названием 'Любовь'. И сюжет рисунка про терпимость к однополой любви.");
        addMark([56.838096561108955, 60.61018313609087], "Арка Покраса Лампаса", "{% static 'art_map/img/pl_arc.jpg' %}", "Творчество Покраса Лампаса преследует меня во всех городах. Сначала в Москве на Hyundai Motor Studio, затем на набережной в Самаре и Красной Поляне в Сочи. Теперь увидел его творчество в Екатеринбурге под названием «Арка Покраса Лампаса».");
        addMark([56.83823684890332, 60.610811888898354], "Бумажный самолет", "{% static 'art_map/img/paper_plane.jpg' %}", "Бумажный самолет – самая масштабная работа, которая видна со смотровой площадки небоскреба 'Высоцкий'. Это труд двух художников из Германии. По задумке художников самолетик связывает Европу и Азию. Запустив самолетик со здания кинотеатра в Екатеринбурге –приземляется самолет на здание девятиэтажки в Магнитогорске. Соответсвенно в Магнитогорске такой же рисунок.");
        addMark([56.84035781099863, 60.618910674510225], "Голубые глаза", "{% static 'art_map/img/eyes.jpg' %}", "Перемещаемся на проспект Ленина, где в небольшом сквере креативно украсили уличные фонари. Художница живет в центре Екатеринбурга и постоянно проходит мимо этого места. Раньше ее глаз радовали цветущие яблони, но с недавнего времени их не стало. Поэтому она решила наклеить 'зрачки' на белые фонари. Получилось эффектно и правдоподобно. Печально, что с каждым годом 'глаз' остается все меньше.");
        addMark([56.84123937009094, 60.62208026012338], "Сушка автомобилей", "{% static 'art_map/img/cars.jpg' %}", "Здесь екатеринбургский художник проводит тонкую грань между прошлым и будущим. Если раньше во дворах сушилось много белья, то теперь из-за проблем с парковками в мегаполисах все дворы заставлены автомобилями.");

        L.control.locate({
        position: "topleft",
        drawCircle: false,
        follow: true,
        setView: true
        }).addTo(mymap);

        function addMark(coordinates,nameMark,pathImg,description){
            L.marker([coordinates[0],coordinates[1]])
            .bindPopup("<b>"+nameMark+"</b>"+"<p><img src='"+pathImg+"' style='height:200px;weight:200px;'><p><br>"+description)
            .bindTooltip(nameMark)
            .openTooltip()
            .addTo(mymap);
        }
        </script>
    </div>

</body>

</html>