{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'art_map/css/style.css' %}" type="text/css">
    <style>
        .thumbnail {
            width: 200px;
            height: auto;
            float: left;
            margin-right: 10px;
        }
    </style>
    <title>О карте</title>
</head>
<body>
    <header>
        <table>
            <img class="thumbnail" src="{% static 'art_map/img/logo.png' %}">
            <tr>
                <td><a href="{% url 'map' %}">Карта</a></td>
                <td><a href="">Описание марштрутов</a></td>
                <td><a href="{% url 'about' %}">О карте</a></td>
            </tr>
        </table>
    </header>
    
    <div class="about">
        <h1>Граффити-маршрут (по синим меткам)</h1>
        <p>Добро пожаловать в захватывающий мир уличного искусства в центре Екатеринбурга! Этот маршрут позволит вам окунуться в волшебную атмосферу граффити и насладиться великолепием творчества талантливых художников. </p>
        <h1>Маршрут по памятникам города (по красным меткам)</h1>
        <p>Добро пожаловать в сердце Екатеринбурга, где вас ожидает захватывающий маршрут, пропитанный историей и красотой лучших памятников города. Окунитесь в атмосферу величия и великолепия, путешествуя по следам богатого наследия Екатеринбурга.</p>
    </div>
</body>
</html>