<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>О карте</title>
</head>
<body>
    <header>
        <table>
            <tr>
                <td><a href="index.html">Карта</a></td>
                <td><a href="">Описание марштрутов</a></td>
                <td><a href="page2.html">О карте</a></td>
            </tr>
        </table>
    </header>
    
    <div class="about">
        <h1>О карте</h1>
        <p>Мы создаем обширнную карту Арт-объектов города Екатеринбурга, что бы каждый желающий мог пройтись по знаменитым памятникам и местам</p>
        <h1>Для кого это?</h1>
        <p>Эта карта с маршрутами подойдет для любого, кто желает окунуться в атмосферу города Екатеринбурга, и взглянуть на него иначе</p>
        <h1>Немного о нас</h1>
        <p>Простые работяги</p>
        
    </div>
</body>
</html>